{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid"
}
