.dashboard-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.8rem;
	row-gap: 2rem;

	padding: 1.8rem;
}

.dashboard-container > :nth-child(1) {
	grid-column: span 2;
}

.dashboard-welcome-heading {
	position: relative;
}

.dashboard-welcome-heading::before {
	content: 'HELLO !';
	position: absolute;
	top: -2.4rem;
	left: 0;
}
