.add-employee-form-container {
  display: grid;
  grid-template-columns: 1fr;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-check-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.add-emp-checkbox-container {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 3.2rem;
}

input[type='checkbox'] {
  height: 2.4rem;
  width: 2.4rem;
}

.alert {
  position: absolute;
  /* bottom: 50px; */
  top: 80px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  font-size: 1.4rem;

  transform: translateX(120%);

  transition: all 0.4s ease-in;
}

.show {
  transform: translateX(0%);
}
