.add-employee-form-container {
	display: grid;
	grid-template-columns: 1fr;


}

.submit-form-btn {
	/* position: relative; 	 */
	text-align: center;

	& button {
		bottom: 7rem;
		left: 50%;
		transform: translateX(-50%);
		position:absolute; 
	}
}

.form-input-group {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	
}
.form-input-group > label {
	position: absolute;

	top: 47%;
	left: 7%;
	transform: translateY(-100%);

	transition: 250ms all ease-in-out;
}

.form-input-group input:valid + label,
.form-input-group input:focus + label{
	font-size: 1rem;
	top: 15%;
	left: 4%;
	background-color: #fff;
	padding: .25rem 0.5rem;
}


/* CHECK BOXES */
.form-check-group-container {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.form-check-group {
	position: relative;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
	justify-content: center;

	& input[type='radio'] {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 1px solid var(--main-color);
		height: 3rem;
		width: 10rem;
		border-radius: 5px;
		padding: 6px !important;

		transition: 300ms all ease-in-out;

		
		&:checked {
			background: var(--main-tint-2);
		}

		&:checked + label {
			color: var(--grey-tint-1);	
		}
	}

	& label {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		
	}
}


/* PROFILE IMAGE */
.profile-img-input-group {
	flex-direction: column;

	& > div{
		display: flex;
		justify-content: center;
		align-items: center;

		& button { 
			height: fit-content;
			padding: 2rem;
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
}

#profile-img {
	display: none;
}

#profile-img-preview {
	border: 1px solid var(--main-tint-1);
	height: 13rem;
	width: 13rem;
	margin: 0 auto;
}
